<form action="/users/login" method="POST">
    <div class="card input">
        <input type="text" placeholder="Username" class="text" name="username">
    </div>
    <div class="card input">
        <input type="password" placeholder="Password" class="text" name="password">
    </div>
    <div class="card input link">
    <input type="submit" value="LOGIN" id="login">
    </div>
    <a href="signup"><div class="card link">SIGN UP</div></a>
</form>