<div class="card name">
	<div class="img" style="background-image: url('https://maps.googleapis.com/maps/api/place/photo?key={{key}}&photoreference={{photos location.photos}}&maxwidth=400')"></div>
	{{#if user}}
	<div class="stamp {{visited user.visited location.name}}">{{visited user.visited location.name}}</div>
	{{else}}
	<div class="stamp NOT">NOT LOGGED IN</div>
	{{/if}}
	<h1>{{location.name}}</h1>
	<p class="subinfo"><i class="fa fa-{{types location.types}}"></i> {{typename location.types}}</p>
	{{#if location.formatted_address}}
	<p class="subinfo"><i class="fa fa-map-marker"></i> {{location.formatted_address}}</p>
	{{/if}}
	{{#if location.hours}}
		<p class="subinfo"><i class="fa fa-clock-o"></i> {{location.hours}}</p>
	{{/if}}
	{{#if location.rating}}
	<p class="subinfo"><i class="fa fa-star"></i> Rating: {{location.rating}}</p>
	{{/if}}
</div>
{{#if location.website}}
<a href="{{location.website}}">
<div class="card">
	<section class="icon">
		<i class="fa fa-link"></i>
	</section>
	<section class="main">
		Visit Website
	</section>
</div>
</a>
{{/if}}
{{#if desc}}
<div class="card info">
	<section class="icon up">
		<i class="fa fa-info-circle"></i>
	</section>
	<section class="main">
		<p class="content">{{desc}}</p>
		<p class="source">Wikipedia</p>
	</section>
</div>
{{/if}}
<div class="card map" data-lat="{{location.geometry.location.lat}}" data-long="{{location.geometry.location.lng}}">
	<i class="fa fa-cog fa-spin"></i>
</div>
<script src="/js/map.js"></script>