<div class="card profile">
	<h1>{{profile.name}}</h1>
	<p class="subinfo"><i class="fa fa-user"></i> {{profile.username}}</p>
	<p class="subinfo"><i class="fa fa-clock-o"></i> Joined {{profile.joined}}</p>
	<p class="subinfo"><i class="fa fa-map-marker"></i> Visited {{length profile.visited}} places</p>
</div>
{{#each profile.visited}}
<div class="card activity">
	<section class="icon up">
		<i class="fa fa-map-marker"></i>
	</section>
	<section class="main">
		<span class="name">{{../profile.name}}</span> visited <span class="name">{{this.name}}</span>
		<p class="subinfo">{{this.time}}</p>
	</section>
</div>
{{/each}}
{{#if user}}
<a href="/users/logout">
	<div class="card"><section class="icon">
		<i class="fa fa-sign-out"></i>
	</section>
	<section class="main">
		Sign Out
	</section>
</div>
</a>
{{/if}}