<form action="/users/signup" method="POST">
    <div class="card input">
        <input type="text" placeholder="Name" class="text" name="name">
    </div>
    <div class="card input">
        <input type="text" placeholder="Username" class="text" name="username">
    </div>
    <div class="card input">
        <input type="password" placeholder="Password" class="text" name="password">
    </div>
    <div class="card input">
        <input type="password" placeholder="Confirm Password" class="text" name="password2">
    </div>
    <div class="card input link">
    <input type="submit" id="login" value="SIGN UP">
    </div>
</form>